<div class="lifts">
    <button id="lift-one"></button>
    <button id="lift-two"></button>
    <button id="lift-three"></button>
</div>
<div>
    <button class="btn-5" {{on "click" (fn this.goDown 5)}}>F5-Down</button>
</div>
<hr>
{{#each this.floors as |floor|}}
<div>
    <button class="btn-{{floor}}" {{on "click" (fn this.goUp floor)}}>F{{floor}}-Up</button>
    <button class="btn-{{floor}}" {{on "click" (fn this.goDown floor)}}>F{{floor}}-Down</button>
</div>
<hr>
{{/each}}
<div>
    <button class="btn-0" {{on "click" (fn this.zero)}}>Zero-Up</button>
</div>
<hr>